* {
    margin: 0;
}

header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}
.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.menu_nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.studio {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}
.prtfol {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}
.contact {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}
.email {
    text-decoration: none;
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}
.tel {
    text-decoration: none;
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}
.hat {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}
.hat_txt {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.hat_butt {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}
.adw {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    background: #2F303A;
}
.fig_1 {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
}
.section_1 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
}
.section_2 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 515px;
    top: 774px;
}
.section_3 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 815px;
    top: 774px;
}
.section_4 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 1115px;
    top: 774px;
}
.team {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;    
}
footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    
    background: #2F303A;    
}
.email_2 {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2238px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);    
}
.tel_2 {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2268px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);    
}